.page-item.active .page-link {
    background-color: #3D5AFE;
    border-color: #3D5AFE;
}

.page-link {
    color: #3C4A4D;
}

thead,
tfoot {
   // color: white;
    background-color: #fafafa;
}

.page-item.active .page-link {
    background-color: #3D5AFE;
    border-color: #3D5AFE;
}

/* The Modal (background) */

.modal {
   // display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


#backdrop1, #modal1 {
display : none;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 100%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}