.page-item.active .page-link {
    background-color: #3D5AFE;
    border-color: #3D5AFE;
}

.page-link {
    color: #3C4A4D;
}

thead,
tfoot {
  //  color: white;
    background-color: #fafafa;
}

.page-item.active .page-link {
    background-color: #3D5AFE;
    border-color: #3D5AFE;
}